#splash-img {
    width: 464px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-bottom: 10px;
}

a.credit {
    font-size: xx-small;
    float: right;
}

.body-content {
    color: #333333;
}
