{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="span12">
                    <h1>About</h1>
                    <br/>
                    <p>Robotaba is a guitar tablature transcription framework, in which polyphonic transcription and guitar tablature arrangement algorithms can be embedded. The framework is open source and distributed under the MIT license. The source code can be found <a href="http://github.com/gburlet/robotaba">here</a>. Please feel free to contribute to the project or <a href="http://github.com/gburlet/robotaba/issues">leave a bug report</a>.
                    <br/><br/>
                    <p>For more information refer to the Master's thesis:<br/>
                    Burlet, G. 2013. Automatic guitar tablature transcription online. Master's thesis, McGill University.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
