{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <div class="row-fluid">
                <div class="span4">
                    <img src="{{ STATIC_URL }}img/greg.jpg" width="360" height="480" border="3">
                </div>
                <div class="span8">
                    <div class="body-content">
                        <h1 class="body-content">Contact</h1>
                        <p><b>Gregory Burlet</b><br/>
                           B.Sc. with specialization in Computing Science, University of Alberta<br/>
                           M.A. Music Technology, McGill University
                        </p>
                        <p>
                        <b>Email</b>: gregory.burlet{at}mail.mcgill.ca
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
