{% extends "base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="span4">
                    <img src="{{ STATIC_URL }}img/greg.jpg" width="360" height="480" border="3">
                </div>
                <div class="span8">
                    <h1>Contact</h1>
                    <br/>
                    <p><b>Gregory Burlet</b><br/>
                       B.S. with Specialization in Computing Science, University of Alberta<br/>
                       MA Candidate in Music Technology, McGill University
                    </p>
                    <p>
                    <b>Email</b>: gregory.burlet{at}mail.mcgill.ca
                    </p>
                    <p>
                    <b>Address</b>:<br/>
                    Distributed Digital Music Archives and Libraries Laboratory<br/>
                    CIRMMT / McGill University<br/>
                    550, Sherbrooke Street West, East Tower<br/>
                    5th Floor, Suite 500, Room 508<br/>
                    </p>
                    <p>
                    <b>Tel</b>: +1 514 398 4535 ext 0300<br/>
                    <b>Fax</b>: +1 514 398 8061
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
