{% extends "base.html" %}

{% block title %} Tabs {% endblock %}

{% block js_includes %}
<script type="text/javascript">
var numPages = {{ pages|length }};
</script>

<script src="{{ STATIC_URL }}js/results.js"></script>
{% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="well">
            <div class="row-fluid">
                <div class="span12">
                    <div class="body-content">
                        <h1 class="body-content">Tabs</h1>
                        {% if tabs %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Artist</th>
                                    <th>Download</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tab in tabs %}
                                <tr>
                                    <td>{{ tab.fk_mid.title }}</td>
                                    <td>{{ tab.fk_mid.artist }}</td>
                                    <td>( <a href="/media/{{ tab.mei_file }}">mei</a> | <a href="">xml</a> )</td>
                                    <td><a class="btn btn-mini" href="/display/{{ tab.id }}">View</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <center>
                            <div class="pagination">
                                <ul>
                                    <li id="prevpage"><a class="body-content" href="javascript:void(0)" onclick="prevPage();">«</a></li>
                                    {% for i in pages %}
                                    <li id="page_{{ i }}"><a class="body-content" href="javascript:void(0)" onclick="updatePage({{i}});">{{ i }}</a></li>
                                    {% endfor %}
                                    <li id="nextpage"><a id="nextpage" class="body-content" href="javascript:void(0)" onclick="nextPage({{ pages|length }});">»</a></li>
                                </ul>
                            </div>
                        </center>
                        {% else %}
                        <p class="contrast">No tablatures have been uploaded or created.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
