{% extends "base.html" %}

{% block title %} Upload Audio {% endblock %}

{% block js_inject %}
    $(document).ready(function() {
        $("tr.guitarify").hide();

        $("#id_guitarify").change(function() {
            if(!this.checked) {
                $("tr.guitarify").hide();
            }
            else {
                $("tr.guitarify").show();
            }
        });
    });
{% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="span12">
                    <h1>Upload Audio File</h1>
                    <p>Upload a recording of you playing guitar.</p>
                    <form action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td colspan="2">{{ form.non_field_errors }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.title.label_tag }}</td><td>{{ form.title }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.artist.label_tag }}</td><td>{{ form.artist }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.copyright.label_tag }}</td><td>{{ form.copyright }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr/></td>
                            </tr>
                            <tr>
                                <td>{{ form.guitarify.label_tag }}</td><td>{{ form.guitarify }}</td>
                            </tr>
                            <tr class="guitarify">
                                <td>{{ form.num_frets.label_tag }}</td><td>{{ form.num_frets }}</td>
                            </tr>
                            <tr class="guitarify">
                                <td>{{ form.tuning.label_tag }}</td><td>{{ form.tuning }}</td>
                            </tr>
                            <tr class="guitarify">
                                <td>{{ form.capo.label_tag }} ({{ form.capo.help_text }})</td><td>{{ form.capo }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><hr/></td>
                            </tr>
                            <tr>
                                <td>{{ form.audio_file.label_tag }}</td><td>{{ form.audio_file }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="highlight">{{ form.audio_file.help_text }}</td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="Upload"/></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
